* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: lightgreen;
  color: black;
}

body {
  overflow: hidden;
}

.container {
  position: relative;
}

.download {
  border-radius: 100%;
  box-shadow: 0 0 10px 0 lightgreen;
  cursor: pointer;
  width: 3.5rem;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  padding: 0.5rem;
}

.download:hover {
  box-shadow: 2.5px 2.5px 10px 0 lightgreen;
}

textarea {
  background: "#fff";
  border: 0.5rem solid lightgreen;
  caret-color: purple;
  color: lightgreen;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  overflow: none;
  outline: none;
  resize: none;
}
